<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vinyl Vault</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('collection.index') }}">Vinyl Vault</a>

        <!-- Navbar Toggler (hamburger icon) for mobile view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if g.user %}
                    <li class="nav-item">
                        <span class="navbar-text">{{ g.user['username'] }}</span>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <!-- Include jQuery and Bootstrap JS scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript for setting the delete form action dynamically -->
<script>
    $(document).ready(function() {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var albumId = button.data('album-id'); // Extract album ID from data-* attribute
            var form = $('#deleteForm');
            form.attr('action', '/collection/' + albumId + '/delete'); // Set form action dynamically
        });
    });
</script>
